.App {
  text-align: center;
height: auto%;
width: 100%  

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.NavBar {
  background-color: gold;
  padding: 10px 50px 10px 50px;
  border: solid;
  margin: 10px;
  text-align: left;
}

.FoodList {
  background-color: antiquewhite;
  padding: 10px;
  border: solid;
  margin: 10px;
}

.FoodItem {
  background-color: coral;
  padding: 10px;
  border: solid;
  margin: 10px;
  }

.Diary {
  /* height: "50vh"; */
  background-color: hotpink;
  padding: 50px;
  border: solid;
  margin: 10px;
}

.DiaryEntry {
  background-color: #09d3ac;
  padding: 10px;
  border: solid;
  margin: 10px;
}